body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* styles for fonts and colors */
.header, .footer {
    background-color: #1f2937;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.header-bar ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.header-bar a, .hero-subtitle {
    font-size: 18px;
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.header-bar p {
    font-size: 24px;
    color: #f9faf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quotes {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-size: 20px;
    
}

.sign-up, .action-button, .action-container {
    background-color: #3882f6;
}

.sign-up, .action-button {
    color: #f9faf8;
}

.action-text .action-title {
    font-size: 24px;
    color: #f9faf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.action-text p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.action-button {
    border: 1px solid white;
}

/* styles for flex display */
.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 16px;
    flex: 1;
}

.hero-image {
    padding: 0;
}

.hero-title {
    margin-bottom: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-text p {
    display: flex;
    flex-wrap: wrap;
}

.hero-text button{
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 28px;
}

.info-title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    width: 350px;
    height: auto;
}

.gallery-item p {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
}

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 50px;
    margin: auto;
}

.quote-container {
    margin: 0;
    padding: 40px;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.action-call {
    padding: 32px;
}

.action-container {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.action-text {
    padding: 16px;
}

.action {
    display: flex;
    align-items: center;
}

.action button {
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}